<div class="container content">
  <div class="row"><h1>Bienvenido {{title}}</h1></div>
  <div class="page-header">
    <div class = "container">
      <h1>Ruteo simple</h1>
      <div class="navLinks">
        <a [routerLink] = "['/home']">Home</a>
        <a [routerLink] = "['/destino']">Destino</a>
      </div>
    </div>
  </div>

  <!-- Se va realizar dinamicamente con rutas -->
  <!-- <app-lista-destinos></app-lista-destinos> -->
  <router-outlet></router-outlet>
  
</div>
<hr class="mb-5">
Fecha: {{time | async}}
